<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gemswin.screancasttest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logoss"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".FileBrowser"
            android:label="@string/title_activity_file_browser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_first"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" />

        <activity
            android:name="com.example.gemswin.screencastrecevertest.LoginActivity"
            android:label="@string/app_name"
            />

        <activity android:name="com.example.gemswin.screencastrecevertest.MainActivity_Reciever"
            android:label="@string/app_name">
        </activity>


        <!--<activity android:name=".FileTypeActivity"></activity>-->
        <activity android:name=".RadarActivity"></activity>
        <activity android:name=".TunnelPhoneActivity"></activity>
        <activity android:name=".CanvasMain"></activity>
        <activity android:name=".FileTypeActivity"></activity>


    </application>

</manifest>
